<div class="collapse navbar-collapse show tier-menu" *ngIf="isToggle">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#"><i class="fa fa-terminal" style="font-size:24px;padding-right: 15px;"></i> Pay with Visa</a>
      <span class="caret"></span>
      <ul class="dropdown-menu">
        <li class="nav-item"><a href="#">Find a card</a></li>
        <li class="nav-item"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Visa Offers+Perks</a></li>
        <li class="nav-item"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> ContactLess Payments</a></li>
        <li class="nav-item"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Payment technology</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link"  href="#"><i class="fa fa-terminal" style="font-size:24px;padding-right: 15px;"></i> Issue Cards</a>
      <span class="caret"></span>
      <ul class="dropdown-menu">
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Visa Ready</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Payment technology</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Visa Developer</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Info for partners</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Visa Performance Solutions</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#"><i class="fa fa-terminal" style="font-size:24px;padding-right: 15px;"></i> Accept payments</a>
      <ul class="dropdown-menu">
        <li><a href="#">Accept Visa Payments</a></li>
        <li><a href="#">Small Business tools</a></li>
        <li><a href="#">Commercial Solutions</a></li>
        <li><a href="#">Visa direct</a></li>
      </ul>
    </li>



    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-terminal" style="font-size:24px;padding-right: 15px;"></i> Travel</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#"><i class="fa fa-terminal" style="font-size:24px;padding-right: 15px;"></i> About Visa</a>

      <ul class="dropdown-menu">
        <li><a href="#">Visa Blog</a></li>
        <li><a href="#">Visa Innovations</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Global impact</a></li>
        <li><a href="#">About Visa</a></li>
      </ul>
    </li>




  </ul>
</div>
